grafana:
  enabled: true
  adminPassword: admin
  service:
    type: ClusterIP
  persistence:
    enabled: false
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
      nginx.ingress.kubernetes.io/from-to-www-redirect: "true"
    hosts:
      - logs.prod.equal.vote
    tls:
      - secretName: grafana-tls
        hosts:
          - logs.prod.equal.vote
