replicaCount: 1
image:
  repository: ghcr.io/equal-vote/discord-bot
  tag: "sha-9e7a566"
env:
  - name: DISCORD_TOKEN
    valueFrom:
      secretKeyRef:
        name: discord-bot
        key: DISCORD_TOKEN
  - name: BOT_DATABASE_PATH
    value: "/applications/discord-bot/ViewData.db"
livenessProbe:
  httpGet: null
  exec:
    command:
      - sh
      - -c
      - ls -l /proc/*/exe | grep -q python
readinessProbe:
  httpGet: null
  exec:
    command:
      - sh
      - -c
      - ls -l /proc/*/exe | grep -q python
