replicaCount: 1
image:
  repository: ghcr.io/equal-vote/discord-bot
  tag: "sha-6615437"
env:
  - name: DISCORD_TOKEN
    valueFrom:
      secretKeyRef:
        name: discord-bot
        key: DISCORD_TOKEN
livenessProbe:
  httpGet: null
  exec:
    command:
      - sh
      - -c
      - ls -l /proc/*/exe | grep -q python
readinessProbe:
  httpGet: null
  exec:
    command:
      - sh
      - -c
      - ls -l /proc/*/exe | grep -q python
