# Based on:
# https://github.com/jkroepke/helm-secrets/wiki/ArgoCD-Integration
# https://github.com/viaduct-ai/kustomize-sops?tab=readme-ov-file#argo-cd-integration-

global:
  domain: "argocd.prod.equal.vote"

configs:
  params:
    applicationsetcontroller.enable.progressive.syncs: true
  cm:
    kustomize.buildOptions: "--enable-alpha-plugins --enable-exec"

    # https://github.com/jkroepke/helm-secrets/wiki/ArgoCD-Integration#step-2-allow-helm-secrets-schemes-in-argocd-cm-configmap
    helm.valuesFileSchemes: >-
      secrets+gpg-import, secrets+gpg-import-kubernetes,
      secrets+age-import, secrets+age-import-kubernetes,
      secrets, secrets+literal,
      https

# TODO: Commenting this out, because I don't think it's being used. We should delete this later after consulting Arturo.
#  repositories:
#    star-server-oci:
#      url: "registry.gitlab.com/dedevsecops/charts"
#      type: "helm"
#      name: "star-server"
#      enableOCI: true

server:
  ingress:
    enabled: true
    ingressClassName: "nginx"
    tls: true
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
      nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
      nginx.ingress.kubernetes.io/cors-expose-headers: "*, X-CustomResponseHeader"

repoServer:
  podLabels:
    azure.workload.identity/use: "true"

  env:
    - name: XDG_CONFIG_HOME
      value: /.config
    - name: HELM_PLUGINS
      value: /custom-tools/helm-plugins/
    - name: HELM_SECRETS_CURL_PATH
      value: /custom-tools/curl
    - name: HELM_SECRETS_SOPS_PATH
      value: /custom-tools/sops
    - name: HELM_SECRETS_VALS_PATH
      value: /custom-tools/vals
    - name: HELM_SECRETS_KUBECTL_PATH
      value: /custom-tools/kubectl
    - name: HELM_SECRETS_BACKEND
      value: sops
    # https://github.com/jkroepke/helm-secrets/wiki/Security-in-shared-environments
    - name: HELM_SECRETS_VALUES_ALLOW_SYMLINKS
      value: "false"
    - name: HELM_SECRETS_VALUES_ALLOW_ABSOLUTE_PATH
      value: "true"
    - name: HELM_SECRETS_VALUES_ALLOW_PATH_TRAVERSAL
      value: "false"
    - name: HELM_SECRETS_WRAPPER_ENABLED
      value: "true"
    - name: HELM_SECRETS_DECRYPT_SECRETS_IN_TMP_DIR
      value: "true"
    - name: HELM_SECRETS_HELM_PATH
      value: /usr/local/bin/helm

    # - name: HELM_SECRETS_LOAD_GPG_KEYS
    #   # Multiple keys can be separated by space
    #   value: /helm-secrets-private-keys/key.asc

  serviceAccount:
    create: false
    name: "aks-argocd"

  initContainers:
    - name: install-ksops
      image: viaductoss/ksops:v4.3.2
      command: ["/bin/sh", "-c"]
      args:
        - echo "Installing KSOPS...";
          mv ksops /custom-tools/;
          mv kustomize /custom-tools/;
          echo "Done.";
      volumeMounts:
        - mountPath: /custom-tools
          name: custom-tools
    - name: install-helm-secrets
      image: alpine:latest
      imagePullPolicy: IfNotPresent
      command: [sh, -ec]
      env:
        - name: HELM_SECRETS_VERSION
          value: "4.7.5"
        - name: KUBECTL_VERSION
          value: "1.30.12"
        - name: VALS_VERSION
          value: "0.43.5"
      args:
        - |
          apk add --no-cache curl sops
          mkdir -p /custom-tools/helm-plugins
          cp /usr/bin/curl /custom-tools/curl
          cp /usr/bin/sops /custom-tools/sops
          GO_ARCH=$(case $(uname -m) in x86_64) echo amd64 ;; aarch64|arm64) echo arm64 ;; armv7l) echo armv7 ;; esac)
          curl -sLo /custom-tools/kubectl https://dl.k8s.io/release/v${KUBECTL_VERSION}/bin/linux/${GO_ARCH}/kubectl
          curl -sL https://github.com/helmfile/vals/releases/download/v${VALS_VERSION}/vals_${VALS_VERSION}_linux_${GO_ARCH}.tar.gz | tar zxv -C /custom-tools vals
          curl -sL https://github.com/jkroepke/helm-secrets/releases/download/v${HELM_SECRETS_VERSION}/helm-secrets.tar.gz | tar -C /custom-tools/helm-plugins -xzf-
          chmod +x /custom-tools/*
          cp /custom-tools/helm-plugins/helm-secrets/scripts/wrapper/helm.sh /custom-tools/helm
      volumeMounts:
        - mountPath: /custom-tools
          name: custom-tools

  volumes:
    - name: custom-tools
      emptyDir: {}

  volumeMounts:
    - mountPath: /usr/local/bin/kustomize
      name: custom-tools
      subPath: kustomize
    - mountPath: /.config/kustomize/plugin/viaduct.ai/v1/ksops/ksops
      name: custom-tools
      subPath: ksops
    - mountPath: /usr/local/sbin/helm
      subPath: helm
      name: custom-tools
    - mountPath: /custom-tools
      name: custom-tools
